@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import "global";
@import "variables";
@import "mixins";

/*******************************************
HEADER
********************************************/
// header {
//   background: #ccc;
//   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%, rgba(0, 200, 255, 0.4) 100%),
//     url(/img/doc.jpg) center center no-repeat;
//   background-size: cover;
//   // height: 100vh;
//   position: relative;

//   // Navigation
//   .main-nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     color: $white;
//     padding: 20px 0;

//     // Logo
//     .logo-box {
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       img {
//         width: 45px;

//         @include tablet {
//           width: 90px;
//         }

//         @include desktop {
//           width: 65px;
//         }
//       }

//       p {
//         font-size: 21px;
//         text-transform: uppercase;
//         font-weight: 400;
//         padding-left: 10px;
//         letter-spacing: 4px;

//         @include tablet {
//           font-size: 40px;
//         }

//         @include desktop {
//           font-size: 24px;
//         }
//       }
//     }

//     // Mobile Menu
//     .mobile-menu {
//       display: inline-block;
//       font-size: 23px;

//       @include tablet {
//         font-size: 40px;
//       }

//       @include desktop {
//         display: none;
//       }
//     }

//     // Menu Bar
//     .menu-bar {
//       display: none;

//       @include desktop {
//         display: inline-block;

//         ul>li {
//           display: inline-flex;
//           justify-content: flex-end;
//           font-size: 17px;
//           font-weight: 400;
//           padding: 5px 4px;
//         }
//       }
//     }
//   }
// }

header {
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%, rgba(0, 200, 255, 0.4) 100%),
    url(/img/doc.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  // Navigation
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 20px 0;

    a {
      color: #fff;
    }

    // Logo
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 45px;

        @include tablet {
          width: 90px;
        }

        @include desktop {
          width: 65px;
        }
      }

      p {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 10px;
        letter-spacing: 4px;

        @include tablet {
          font-size: 40px;
        }

        @include desktop {
          font-size: 24px;
        }
      }
    }

    // Mobile Menu
    .mobile-menu {
      display: inline-block;
      font-size: 23px;

      @include tablet {
        font-size: 40px;
      }

      @include desktop {
        display: none;
      }
    }

    // Menu Bar
    .menu-bar {
      display: none;

      @include desktop {
        display: inline-block;

        ul>li {
          display: inline-flex;
          justify-content: flex-end;
          font-size: 17px;
          font-weight: 400;
          padding: 5px 4px;

          a {
            color: $white;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: $blue;
              font-weight: 600;
              padding: 8px 0;
              text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }

  // Info Box
  .info-box {
    width: 100%;
    color: $white;
    text-align: center;
    margin-top: 30px;

    @include tablet {
      position: absolute;
      width: 80%;
      top: 40%;
      right: 10%;
    }

    @include desktop {
      width: 33%;
      top: 35%;
      right: 15%;
    }

    h1 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 30px;

      @include desktop {
        font-size: 30px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 40px;
    }

    .we-help-btn {
      background: $blue;
      border: none;
      border-radius: 4px;
      padding: 15px;
      font-weight: 300;
      font-size: 16px;
      color: $white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $purple;
      }

      i.arrow-right {
        padding-left: 20px;
      }
    }
  }
}

/*******************************************
BANNER
********************************************/

@keyframes fade-in-left {
  0% {
    left: -80px;
    opacity: 0;
  }

  100% {
    left: 6%;
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    top: 30px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

// .banner-hack {
//   position: relative;
//   top: -6.5rem;
// }

.banner-container {
  width: 100%;
  transition: all 2s ease-in-out;
  margin: 0 auto;
  position: relative;
  // top: -50px;

  h1 {
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 27%;
    left: -200px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    animation-name: fade-in-left;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;

    @include tablet {
      font-size: 32px;
    }

    @include desktop {
      font-size: 40px;
    }

    span {
      display: inline-block;
      width: 19px;
      border-bottom: 1px solid #fff;
      backface-visibility: hidden;
    }
  }

  p {
    margin-top: 8px;
    display: inline-block;
    position: absolute;
    top: 37%;
    left: -80px;
    text-transform: capitalize;
    animation-name: fade-in-left;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 8px;
    color: #fff;
    z-index: 1;
    letter-spacing: 1px;
    backface-visibility: hidden;

    @include tablet {
      font-size: 10px;
      top: 40%;
    }

    @include desktop {
      font-size: 14px;
    }
  }

  a {
    color: #111;
    font-weight: 500;
  }
}

.office-img-container {
  position: relative;
  width: 100%;
  // top: -3.5rem;

  // @include desktop {
  //   height: 700px;
  // }

  .office-img {
    // background: url("/public/img/med_office.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // width: 100%;
    // height: 350px;

    //     background: url("/public/img/med_office.jpg");

    //     background: url("/public/img/med_office.jpg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     width: 100%;
    //     height: 350px;
    img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 350px;

      @include tablet {
        height: 420px;
      }

      @include desktop {
        height: 700px
      }
    }




    // @include tablet {
    //   height: 420px;
    // }

    // @include desktop {
    //   height: 700px;
    // }
  }

  .office-overlay:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

/*******************************************
ABOUT
********************************************/

.about-container {
  width: 100%;

  @include desktop {
    width: 87%;
    padding-left: 12%;
  }

  .about-text {
    h3 {
      color: #444;
      text-transform: capitalize;
      font-weight: 600;
      margin: 40px 0 15px 0;
      letter-spacing: 1px;
      padding-left: 2%;

      @include tablet {
        font-size: 22px;
        padding-left: 2%;
      }

      span {
        display: inline-block;
        width: 19px;
        border-bottom: 1px solid $blue;
      }
    }

    p {
      line-height: 28px;
      letter-spacing: 1px;
      font-size: 18px;
      padding: 8px 2%;

      @include tablet {
        font-size: 22px;
        line-height: 34px;
      }
    }
  }
}

/*******************************************
DOCTORS
********************************************/

// .doctors-mobile {
//   @include tablet {
//     display: none;
//   }
// }

.doctors-tablet-1 h2 {
  color: #444;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 28px;
  padding-bottom: 40px;

  @include tablet {
    color: 444;
    padding-bottom: 55px;
  }

  span {
    display: inline-block;
    width: 26px;
    border-bottom: 1px solid $blue;
    backface-visibility: hidden;
  }
}

.doctors-tablet-1 .doc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;

  @include tablet {
    flex-direction: row;
    padding-right: 3%;
  }

  .doc-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 55px;
    position: relative;

    @include tablet {
      width: 50%;
    }

    .doc-img-1 {
      //   background: url("/public/img/doc-1.jpg");
      background: url("/public/img/doc-1.jpg");
      margin: 0 auto;
      width: 300px;
      display: block;
      background-size: cover;
      height: 300px;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      position: relative;
      cursor: pointer;

      &:hover {
        top: -3px;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
      }

      // @include tablet {
      //   width: 350px;
      // }
    }

    .doc-img-2 {
      background: url("/public/img/doc-2.jpg");
      width: 300px;
      margin: 0 auto;
      background-size: cover;
      height: 300px;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      position: relative;
      cursor: pointer;

      &:hover {
        top: -3px;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
      }
    }

    // .doc-img-3 {
    //   background: url("/public/img/doc-3.jpg");
    //   width: 300px;
    //   margin: 0 auto;
    //   background-size: cover;
    //   height: 300px;
    //   background-repeat: no-repeat;
    //   -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   position: relative;
    //   cursor: pointer;

    //   &:hover {
    //     top: -3px;
    //   }
    // }

    // .doc-img-4 {
    //   background: url("/public/img/doc-4.jpg");
    //   width: 300px;
    //   margin: 0 auto;
    //   background-size: cover;
    //   height: 300px;
    //   background-repeat: no-repeat;
    //   -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
    //   position: relative;
    //   cursor: pointer;

    //   &:hover {
    //     top: -3px;
    //   }
    // }

    h3 {
      font-weight: 500;
      padding: 30px 0 10px 0;
      letter-spacing: 1px;
      font-size: 22px;
      color: #444;
    }

    span {
      font-size: 18px;
      padding-bottom: 17px;
      display: block;
    }

    p {
      font-size: 20px;
      text-align: left;
      line-height: 26px;
      padding: 20px;

      @include tablet {
        padding: 5px 0 0 8%;
        font-size: 22px;
        line-height: 34px;

        @include desktop {
          margin-left: 12%;
          width: 70%;
          margin: 5px auto;
        }
      }
    }
  }
}

.doctors-tablet-2 h2 {
  color: #444;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 28px;
  padding-bottom: 40px;

  @include tablet {
    color: #444;
    padding-bottom: 55px;
  }

  span {
    display: inline-block;
    width: 26px;
    border-bottom: 1px solid $blue;
    backface-visibility: hidden;
  }
}

.doctors-tablet-2 .doc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include tablet {
    flex-direction: row;
    padding-right: 3%;
  }

  .doc-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 55px;

    @include tablet {
      width: 50%;
    }

    .doc-img-3 {
      //   background: url("/public/img/doc-1.jpg");
      background: url("/public/img/doc-3.jpg");
      margin: 0 auto;
      width: 300px;
      background-size: cover;
      height: 300px;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      position: relative;
      cursor: pointer;

      &:hover {
        top: -3px;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
      }
    }

    .doc-img-4 {
      background: url("/public/img/doc-4.jpg");
      width: 300px;
      margin: 0 auto;
      background-size: cover;
      height: 300px;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
      position: relative;
      cursor: pointer;

      &:hover {
        top: -3px;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
      }
    }

    h3 {
      font-weight: 500;
      padding: 30px 0 10px 0;
      letter-spacing: 1px;
      font-size: 22px;
      color: #444;
    }

    span {
      font-size: 18px;
      padding-bottom: 17px;
      display: block;
    }

    p {
      font-size: 20px;
      text-align: left;
      line-height: 26px;
      padding: 20px;

      @include tablet {
        padding: 5px 0 0 8%;
        font-size: 22px;
        line-height: 34px;
      }

      @include desktop {
        margin-left: 12%;
        width: 70%;
        margin: 5px auto;
      }
    }
  }
}

/*******************************************
TESTIMONIALS
********************************************/

.testimonials {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;

  h2 {
    color: #444;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 40px;

    span {
      display: inline-block;
      width: 26px;
      border-bottom: 1px solid $blue;
      backface-visibility: hidden;
    }
  }

  .test-container-img {
    background: url("/public/img/doctorPatient19-sm.jpg");
    background-size: cover;
    height: 375px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    // position: absolute;
    display: block;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;

    @include desktop {
      height: 500px;
    }

    .patient-rev-img {
      background: url("/public/img/patient-pic.jpg");
      width: 110px;
      height: 110px;
      position: relative;
      margin: 35px auto 10px auto;

      padding: 31px 10px 31px 10px;
      z-index: 1;
      background-size: contain;
      border-radius: 50%;
      display: inline-block;

      @include tablet {
        margin-right: 2%;
      }

      @include desktop {
        margin-top: 62px;
      }
    }

    p {
      color: #fff;
      z-index: 1;
      // display: inline-block;
      position: absolute;
      top: 40%;
      padding: 10px;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0 auto;
      // width: 75%;

      @include tablet {
        width: 60%;
        position: relative;
        left: -4px;
        font-size: 17px;
      }

      @include desktop {
        width: 50%;
        font-size: 22px;
        top: 35%;
        right: 25%;
      }
    }

    .patient-container-2 {
      z-index: 1;
      position: relative;
      top: 60%;

      .patient-rev-img-2 {
        background: url("/public/img/patient-pic.jpg");
        width: 100px;
        height: 100px;
        position: absolute;
        margin-bottom: 30px;
        padding-bottom: 30px;
        position: relative;
        top: 0;
        z-index: 1;
        background-size: contain;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
      }

      p {
        color: #fff;
        z-index: 1;
        display: block;
        position: absolute;
        top: 44%;
        padding: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 300;
      }
    }
  }
}

.overlay:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/*******************************************
APPOINTMENT
********************************************/

.appointment {
  width: 100%;
  // text-align: left;
  height: 400px;
  padding: 40px auto;
  margin: 60px auto 75px auto;

  h2 {
    color: #555;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 40px 0 40px 0;
  }

  .appoint-container {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;

    @include desktop {
      display: flex;
      justify-content: space-around;
    }

    .form-container {
      // text-align: center;

      @include desktop {
        margin-left: 10%;
        width: 80%;
      }

      input {
        padding-top: 20px;
        padding-bottom: 5px;
        margin: 5px 0;
        width: 80%;
        border: 0;
        border-bottom: 1px solid $purple;
        outline: 0;
      }

      button {
        display: block;
        padding: 15px 35px;
        background: $blue;
        color: #fff;
        border: 0;
        border-radius: 40px;
        margin: 60px auto 50px auto;
        -webkit-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
        -moz-box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
        box-shadow: 0px 3px 10px 0px rgba(68, 68, 68, 1);
        position: relative;
        cursor: pointer;

        // background: #00a4d6;
        // border: none;
        // border-radius: 4px;
        // padding: 15px;
        // font-weight: 300;
        // font-size: 16px;
        // color: #fff;

        &:hover {
          top: -2px;
          -webkit-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
          -moz-box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
          box-shadow: 0px 10px 20px 0px rgba(68, 68, 68, 1);
        }
      }
    }
  }

  .side-img-container {
    width: 100%;
    height: 300px;
    display: none;

    @include desktop {
      display: block;
      padding: 10px;
    }
  }

  .side-img {
    background: url("/public/img/doctorPatient14.jpg");
    background-size: contain;
    // width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 5px;
    margin-left: 10%;
  }
}

/*******************************************
FOOTER
********************************************/

footer {
  background: $purple;
  padding: 20px 0;
  color: $white;
  text-align: center;

  @include tablet {
    padding: 50px 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
    text-align: center;

    @include tablet {
      grid-template-columns: 25% 40% 30%;
      grid-template-rows: auto;
      grid-column-gap: 15px;
    }

    .address-col {
      h5 {
        font-size: 20px;
        font-weight: 500;

        @include desktop {
          font-size: 30px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.5;

        @include desktop {
          font-size: 20px;
        }
      }
    }

    .social-col {
      .icon {
        font-size: 20px;
        padding: 0 20px;

        @include desktop {
          font-size: 30px;
        }
      }
    }

    .menu-col {
      ul>li {
        padding: 5px;
        display: inline-block;

        @include desktop {
          font-size: 20px;
        }

        a {
          color: $white;
        }
      }
    }
  }
}