@import "reset";
@import "global";
@import "mobile_menu";
@import "variables";
@import "mixins";

header {
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%,rgba(0, 200, 255, 0.4) 100%),
  url("/img/doctorPatient6.jpg") center center no-repeat;
  background-size: cover;
  height: 58vh;
  position: relative;
  // Navigation
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 20px 0;
    a {
      color: #fff;
    }
    // Logo
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45px;
        @include tablet {
          width: 90px;
        }
        @include desktop {
          width: 65px;
        }
      }
      p {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 10px;
        letter-spacing: 4px;
        @include tablet {
          font-size: 40px;
        }
        @include desktop {
          font-size: 24px;
        }
      }
    }
    // Mobile Menu
    .mobile-menu {
      display: inline-block;
      font-size: 23px;
      @include tablet {
        font-size: 40px;
      }
      @include desktop {
        display: none;
      }
    }
    // Menu Bar
    .menu-bar {
      display: none;
      @include desktop {
        display: inline-block;
        ul > li {
          display: inline-flex;
          justify-content: flex-end;
          font-size: 17px;
          font-weight: 400;
          padding: 5px 4px;
          a {
            color: $white;
            transition: all .2s ease-in-out;
            &:hover {
              color: $blue;
              font-weight: 600;
              padding: 8px 0;
              text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }
}
// Info Box
.talk-box {
  width: 100%;
  color: $white;
  padding-top:40px;

  h1 {
    width: 100%;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 65px;
    text-align: center;
    @include tablet{
      width: 100%;
      padding-bottom: 20px;
      padding-right: 79px;
    }
    @include desktop{
      width:112%;
    }
    @include large-desktop{
      width: 100%;
    }

  }
  h3 {
    font-size: 20px;
    font-weight: 250;
    line-height: 1.8;
    text-align: center;

    @include tablet {
      width: 73%;
      line-height: 1;
      padding-left: 118px;
    }
    @include desktop{
      width:112%;
      line-height: 2;
      padding-right: 170px;
      font-size: 18px;
    }
    @include large-desktop {
      width: 96%;
    }
  }

}
///////////////end of top sizing and stying///////////

///////////start of right side content styling///////////
 .content-section{
     display: block;
     padding-top: 35px;
     width: 100%;
     @include tablet{

     }
     @include desktop{

     }
     @include large-desktop{

     }


   .left-side-60{
     width: 60%;
     padding: 2.5%;
     background: white;
     height: 600px;
     @include tablet{
     }
     @include desktop{

     }
     @include large-desktop{

     }


     .content-60{
       @include tablet{

       }
       @include desktop{

       }
       @include large-desktop{

       }
       h2{
         font-size: 34px;
         width: 90%;
         padding-left: 100px;
         line-height: 1.3;
         color: #1B75BC;
         @include tablet{
           font-size: 25px;
           line-height: 1;


         }
         @include desktop{

         }
         @include large-desktop{

         }
       }
       h4{
         font-size: 25px;
         padding-left: 100px;
         padding-top: 15px;
         @include tablet{
           font-size: 19px;
         }
         @include desktop{

         }
         @include large-desktop{
           font-size: 25px;
         }
       }
       p{
         font-size: 17px;
         padding-left: 100px;
         padding-top: 20px;
         line-height: 1.7;
         @include tablet{
           font-size: 12px;
         }
         @include desktop{
           font-size: 16px;
         }
         @include large-desktop{
           font-size: 17px;
         }
       }
     }
   }
/////////////////left side content end//////////////
   .right-side-40{
     width: 30%;
     height: 476px;
     position: absolute;
     left: 60%;
     margin-left: 25px;
     top: 450px;
     padding-left: 40px;
     @include tablet{
       top: 343px;
     }
     @include desktop{

     }
     @include large-desktop{

     }

     .vertical-line{
       border-left: 2px solid lightgray;
      height: 476px;
      position: absolute;
      left: -7%;
      margin-left: 25px;
      top: 100px;
      @include tablet{

      }
      @include desktop{

      }
      @include large-desktop{

      }
     }

     .content-40{
       padding-top: 95px;
       @include tablet{

       }
       @include desktop{
         padding-top: 120px;
       }
       @include large-desktop{

       }
       h3{
         font-size: 33px;
         color: #1B75BC;
         padding-bottom: 30px;
         @include tablet{
           font-size: 25px;
         }
         @include desktop{
           font-size: 26px;
         }
         @include large-desktop{

         }
       }
       p{
         font-size: 18px;
         line-height: .5;
         padding-bottom: 20px;
         @include tablet{
           font-size: 15px;
         }
         @include desktop{
           font-size: 17px;
         }
         @include large-desktop{

         }
       }
       .anchor{
         display: inline-block;
       }
       a{
         display: inline-block;
         padding-bottom: 20px;
         font-size: 18px;
         @include tablet{
           font-size: 14px;
         }
         @include desktop{
           font-size: 19px;
         }
         @include large-desktop{
           display: block;
         }



     }
   }

 }
}
//////////////////footer///////////
footer {
  background: $purple;
  padding: 20px 0;
  color: $white;
  text-align: center;
  position: relative;
  z-index: 500;
  @include tablet {
    padding: 50px 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
    text-align: center;
    @include tablet {
      grid-template-columns: 25% 40% 30%;
      grid-template-rows: auto;
      grid-column-gap: 15px;
    }

    .address-col {
      h5 {
        font-size: 20px;
        font-weight: 500;
        @include desktop {
          font-size: 30px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        @include desktop {
          font-size: 20px;
        }
      }
    }

    .social-col {
      .icon {
        font-size: 20px;
        padding: 0 20px;
        color: #fff;
        @include desktop {
          font-size: 30px;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $blue;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    .menu-col {
      ul > li {
        padding: 5px;
        display: inline-block;
        @include desktop {
          font-size: 20px;
        }

        a {
          color: $white;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $blue;
            font-weight: 600;
            padding: 8px 0;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
