@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
}
/* Container */
.container {
  width: 90%;
  margin: 0 auto;
}

.body-container {
  width: 70%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

ul > li {
  list-style: none;
}
