@import "global";
@import "variables";
@import "mixins";


/*******************************************
HEADER
********************************************/
header {
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%,rgba(0, 200, 255, 0.4) 100%),
  url(/img/doc.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  // Navigation
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 20px 0;
    a {
      color: #fff;
    }
    // Logo
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45px;
        @include tablet {
          width: 90px;
        }
        @include desktop {
          width: 65px;
        }
      }
      p {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 10px;
        letter-spacing: 4px;
        @include tablet {
          font-size: 40px;
        }
        @include desktop {
          font-size: 24px;
        }
      }
    }
    // Mobile Menu
    .mobile-menu {
      display: inline-block;
      font-size: 23px;
      @include tablet {
        font-size: 40px;
      }
      @include desktop {
        display: none;
      }
    }
    // Menu Bar
    .menu-bar {
      display: none;
      @include desktop {
        display: inline-block;
        ul > li {
          display: inline-flex;
          justify-content: flex-end;
          font-size: 17px;
          font-weight: 400;
          padding: 5px 4px;
          a {
            color: $white;
            transition: all .2s ease-in-out;
            &:hover,
            &.selected {
              color: $blue;
              font-weight: 600;
              padding: 8px 0;
              text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }
  // Info Box
  .info-box {
    width: 100%;
    color: $white;
    text-align: center;
    margin-top: 30px;
    @include tablet {
      position: absolute;
      width: 80%;
      top: 40%;
      right: 10%;
    }
    @include desktop {
      width: 33%;
      top: 35%;
      right: 15%;
    }
    h1 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 30px;
      @include desktop {
        font-size: 30px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 40px;
    }
    .we-help-btn {
      background: $blue;
      border: none;
      border-radius: 4px;
      padding: 15px;
      font-weight: 300;
      font-size: 16px;
      color: $white;
      box-shadow: 2px 2px 10px rgba(0,0,0, .4);
      transition: all .3s ease-in-out;
      &:hover {
        background: $purple;
      }
      i.arrow-right {
        padding-left: 20px;
      }
    }
  }
}


/*******************************************
WELCOME SECTION
********************************************/
.welcome-section {
  padding: 30px 0 0;
  text-align: center;
  color: $dark-text;
  @include desktop {
    padding: 80px 0 0;
  }
  h3 {
    @include h3title;
  }
  h2 {
    @include h2title;
  }
  p {
    font-size: 13px;
    line-height: 1.7;
    padding-bottom: 20px;
    @include tablet {
      margin: 0 auto;
      width: 80%;
      font-size: 14px;
    }
    @include desktop {
      width: 50%;
    }
  }
  a {
    color: $blue;
    font-weight: 600;
    font-size: 12px;
    transition: all .3s ease-in-out;
    &:hover {
      color: $purple;
    }
    @include desktop {
      font-size: 14px;
    }
    .icon {
      padding-left: 8px;
    }
  }
  .doctors {
    margin-top: 30px;
    @include desktop {
      margin-top: 80px;
    }
    img {
      width: 100%;
    }
  }
}


/*******************************************
SERVICES SECTION
********************************************/

.services-section {
  padding: 30px 0 30px;
  text-align: center;
  color: $dark-text;
  background: #fafafa;
  h3 {
    @include h3title;
  }
  h2 {
    @include h2title;
  }
  .main-services-box {
    padding: 30px 0;
    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-row-gap: 20px;
      @include desktop {
        grid-template-columns: 15% 50% 25%;
        grid-column-gap: 50px;
      } 
      .options-box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-gap: 1px;
        @include tablet {
          grid-template-columns: repeat(4, 25%);
        }
        @include desktop {
          grid-template-columns: 95%;
          grid-template-rows: repeat(4, 20%);
        }
        .box {
          padding: 30px;
          border-radius: 5px;
          background: $blue;
          display: grid;
          grid-template-rows: 45px 40px;
          @include desktop {
            padding: 15px;
          }
          .icon {
            color: $white;
            font-size: 30px;
            align-self: center;
          }
          p {
            padding-top: 10px;
            color: $white;
          }
        }
        .tab {
          grid-column: 1 / span 2;
          background: $darkblue;
          padding: 20px;
          border-radius: 0 0 5px 5px ;
          @include tablet {
            grid-column: 1 / span 4;
            padding: 10px;
          }
          @include desktop {
            grid-column: 1 / 2;
            height: 40%;
          }
          a {
            color: $white;
          }
        }
      }
      .passion-box {
        @include tablet {
          display: grid;
          grid-template-columns: 35% 65%;
        }
        @include desktop {
          text-align: left;
          grid-template-columns: 100%;
          grid-template-rows: 10%;
          grid-row-gap: 10px;
        }
        h3 {
          font-size: 16px;
          padding-top: 20px;
          @include tablet {
            font-size: 22px;
            padding: 10px 0;
            grid-column: 1 / span 2;
          }
          @include desktop {
            font-size: 24px;
            grid-column: 1 / 2;
          }
        }
        .major-points {
          display: grid;
          grid-template-columns: 100%;
          justify-items: start;
          @include desktop {
            grid-template-columns: 50% 50%;
          }
          p {
            padding: 8px 0;
            span {
              padding-right: 10px;
              i {
                color: #63c3ff;
                font-size: 20px;
              }
            }
          }
        }
      }
      .history {
        padding-top: 30px;
        @include tablet {
          padding-top: 4px;
        }
        p {
          line-height: 1.5;
          padding-bottom: 20px;
        }
      }
      .doc-patient-box {
        width: 100%;
        @include tablet {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-column-gap: 10px;
        }
        @include desktop {
          grid-template-columns: 100%;
        }
        img {
          padding-bottom: 20px;
          width: 100%;
        }
      }
    }
  }
}




/*******************************************
SPECIALITIES SECTION
********************************************/
.special-section {
  padding: 30px 0 30px;
  text-align: center;
  color: $dark-text;
  .title {
    margin-bottom: 30px;
    h3 {
      @include h3title;
    }
    h2 {
      @include h2title;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    @include tablet {
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(3, 33.33%);
      width: 80%;
      margin: 0 auto;
    }
    .med-box {
      display: block;
      background: #fff;
      padding: 30px;
      border-bottom: 1px solid rgba(0,0,0, .1);
      border-right: 1px solid rgba(0,0,0, .1);
      display: grid;
      grid-template-columns: 100%;
      justify-items: center;
      transition: all .5s ease-in-out;
      @include tablet {
        background: #fff;
        padding: 30px;
        border-bottom: 1px solid rgba(0,0,0, .1);
        border-right: 1px solid rgba(0,0,0, .1);
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        transition: all .5s ease-in-out;
      }
      
      a {
        display: grid;
        grid-template-rows: 50px 20px;
        &:visited {
          color: $dark-text;
        }
        @include tablet {
          grid-template-rows: 100px 50px;
        }
      }
      &:nth-child(2n+0) {
        border-right: none;
      }
      &:nth-last-child(-n+2) {
        border-bottom: none;
      }
      @include tablet {
        &:nth-child(2n+0) {
          border-right: 1px solid rgba(0,0,0, .1);
        }
        &:nth-child(4n+0) {
          border-right: none;
        }
        &:nth-last-child(-n+2) {
          border-bottom: 1px solid rgba(0,0,0, .1);
        }
        &:nth-last-child(-n+4) {
          border-bottom: none;
        }
        &:hover {
          background: rgba(0, 174, 255, 0.281);
          color: #080e14;
          font-size: 18px;
        }
      }
      img {
        display: block;
        width: 35px;
        align-self: center;
        margin: 0 auto;
        @include tablet {
          width: 60px;
        }
      }
      p {
        align-self: center;
        padding: 5px;
        font-weight: 600;
        @include tablet {
          padding: 20px;
        }
      }
    }
  }
}



/*******************************************
NEW APP SECTION
********************************************/

.new-app-section {
  padding: 30px 0 30px;
  text-align: center;
  color: $white;
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.568) 0%,rgba(0, 32, 41, 0.61) 100%), 
  url(/img/phone3.png) right center no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include desktop {
    height: 500px;
  }
  @include large-desktop {
    height: 640px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    margin: 0 auto;
    @include tablet {
      grid-template-columns: 65% 30%;
    }
    @include large-desktop {
      grid-template-columns: 55% 30%;
    }
    .app-info {
      width: 100%;
      h2 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 10px;
        @include large-desktop {
          font-size: 33px;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.4;
        @include large-desktop {
          font-size: 18px;
        }
      }
      h4 {
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
      }
      @include large-desktop {
        font-size: 20px;
      }
      .app-store {
        padding-top: 20px;
        img {
          padding: 10px;
        }
      }
    }
    .image-box {
      display: none;
      @include tablet {
        display: block;
      }
      img {
        position: absolute;
        top: 55px;
        right: 1px;
        width: 250px;
        z-index: 1;
        @include desktop {
          top: 38px;
          width: 389px;
        }
        @include large-desktop {
          width: 506px;
        }
      }
    }
  }
}



/*******************************************
TESTIMONIALS
********************************************/

.testimonials {
  padding: 30px 0 30px;
  text-align: center;
  color: $dark-text;
  height: 586px;
  .title {
    margin-bottom: 30px;
    h3 {
      @include h3title;
    }
    h2 {
      @include h2title;
    }
  }
  .testimonials-container {
    
    .slider {
      display: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      height: 339px;
      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-bottom: 30px;
      }
      q {
        font-size: 20px;
        line-height: 1.4;
        padding-bottom: 20px;
      }
      h3 {
        display: block;
        width: 100%;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
      }
      p {
        display: block;
        font-weight: 600;
      }
    }
    .bar-container {
      padding: 20px;
      text-align: center;
      .bar {
        cursor: pointer;
        width: 50px;
        height: 15px;
        margin: 0 1px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 2px;
        transition: background-color .6s ease;
        &.active,
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}



/*******************************************
FOOTER
********************************************/

footer {
  background: $purple;
  padding: 20px 0;
  color: $white;
  text-align: center;
  position: relative;
  z-index: 500;
  @include tablet {
    padding: 50px 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
    text-align: center;
    @include tablet {
      grid-template-columns: 25% 40% 30%;
      grid-template-rows: auto;
      grid-column-gap: 15px;
    }
    .address-col {
      h5 {
        font-size: 20px;
        font-weight: 500;
        @include desktop {
          font-size: 30px;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.5;
        @include desktop {
          font-size: 20px;
        }
      }
    }
    .social-col {
      .icon {
        font-size: 20px;
        padding: 0 20px;
        color: #fff;
        @include desktop {
          font-size: 30px;
          transition: all .2s ease-in-out;
          &:hover {
            color: $blue;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .menu-col {
      ul > li {
        padding: 5px;
        display: inline-block;
        @include desktop {
          font-size: 20px;
        }
        a {
          color: $white;
          transition: all .2s ease-in-out;
          &:hover {
            color: $blue;
            font-weight: 600;
            padding: 8px 0;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}