@import "global";
@import "variables";
@import "mixins";

/*******************************************
HEADER
********************************************/
header {
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%, rgba(0, 200, 255, 0.4) 100%),
    url(/img/doc.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  // Navigation
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 20px 0;

    a {
      color: #fff;
    }

    // Logo
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 45px;

        @include tablet {
          width: 90px;
        }

        @include desktop {
          width: 65px;
        }
      }

      p {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 10px;
        letter-spacing: 4px;

        @include tablet {
          font-size: 40px;
        }

        @include desktop {
          font-size: 24px;
        }
      }
    }

    // Mobile Menu
    .mobile-menu {
      display: inline-block;
      font-size: 23px;

      @include tablet {
        font-size: 40px;
      }

      @include desktop {
        display: none;
      }
    }

    // Menu Bar
    .menu-bar {
      display: none;

      @include desktop {
        display: inline-block;

        ul>li {
          display: inline-flex;
          justify-content: flex-end;
          font-size: 17px;
          font-weight: 400;
          padding: 5px 4px;

          a {
            color: $white;
            transition: all .2s ease-in-out;

            &:hover {
              color: $blue;
              font-weight: 600;
              padding: 8px 0;
              text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }

  // Info Box
  .info-box {
    width: 100%;
    color: $white;
    text-align: center;
    margin-top: 30px;

    @include tablet {
      position: absolute;
      width: 80%;
      top: 40%;
      right: 10%;
    }

    @include desktop {
      width: 33%;
      top: 35%;
      right: 15%;
    }

    h1 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 30px;

      @include desktop {
        font-size: 30px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 40px;
    }

    .we-help-btn {
      background: $blue;
      border: none;
      border-radius: 4px;
      padding: 15px;
      font-weight: 300;
      font-size: 16px;
      color: $white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
      transition: all .3s ease-in-out;

      &:hover {
        background: $purple;
      }

      i.arrow-right {
        padding-left: 20px;
      }
    }
  }
}


/*******************************************
WELCOME SECTION
********************************************/
.welcome-section {
  padding: 30px 0 0;
  text-align: center;
  color: $dark-text;

  @include desktop {
    padding: 80px 0 0;
  }

  h3 {
    @include h3title;
  }

  h2 {
    @include h2title;
  }

  p {
    font-size: 13px;
    line-height: 1.7;
    padding-bottom: 20px;

    @include tablet {
      margin: 0 auto;
      width: 80%;
      font-size: 14px;
    }

    @include desktop {
      width: 50%;
    }
  }

  a {
    color: $blue;
    font-weight: 600;
    font-size: 12px;
    transition: all .3s ease-in-out;

    &:hover {
      color: $purple;
    }

    @include desktop {
      font-size: 14px;
    }

    .icon {
      padding-left: 8px;
    }
  }

  .doctors {
    margin-top: 30px;

    @include desktop {
      margin-top: 80px;
    }

    img {
      width: 100%;
    }
  }
}


/*******************************************
SERVICES SECTION
********************************************/

.services-section {
  padding: 30px 0 30px;
  text-align: center;
  color: $dark-text;
  background: #fafafa;

  h3 {
    @include h3title;
  }

  h2 {
    @include h2title;
  }

  .main-services-box {
    padding: 30px 0;

    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-row-gap: 20px;

      @include desktop {
        grid-template-columns: 15% 50% 25%;
        grid-column-gap: 50px;
      }

      .options-box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-gap: 1px;

        @include tablet {
          grid-template-columns: repeat(4, 25%);
        }

        @include desktop {
          grid-template-columns: 95%;
          grid-template-rows: repeat(4, 20%);
        }

        .box {
          padding: 30px;
          border-radius: 5px;
          background: $blue;

          @include desktop {
            padding: 15px;
          }

          .icon {
            color: $white;
            font-size: 30px;
          }

          p {
            padding-top: 10px;
            color: $white;
          }
        }

        .tab {
          grid-column: 1 / span 2;
          background: $darkblue;
          padding: 10px;
          border-radius: 0 0 5px 5px;

          @include tablet {
            grid-column: 1 / span 4;
          }

          @include desktop {
            grid-column: 1 / 2;
            height: 40%;
          }

          a {
            color: $white;
          }
        }
      }

      .passion-box {
        @include tablet {
          display: grid;
          grid-template-columns: 35% 65%;
        }

        @include desktop {
          text-align: left;
          grid-template-columns: 100%;
          grid-template-rows: 10%;
          grid-row-gap: 10px;
        }

        h3 {
          font-size: 16px;
          padding-top: 20px;

          @include tablet {
            font-size: 22px;
            padding: 10px 0;
            grid-column: 1 / span 2;
          }

          @include desktop {
            font-size: 24px;
            grid-column: 1 / 2;
          }
        }

        .major-points {
          display: grid;
          grid-template-columns: 100%;
          justify-items: start;

          @include desktop {
            grid-template-columns: 50% 50%;
          }

          p {
            padding: 8px 0;

            span {
              padding-right: 10px;

              i {
                color: #63c3ff;
                font-size: 20px;
              }
            }
          }
        }
      }

      .history {
        padding-top: 30px;

        @include tablet {
          padding-top: 4px;
        }

        p {
          line-height: 1.5;
          padding-bottom: 20px;
        }
      }

      .doc-patient-box {
        width: 100%;

        @include tablet {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-column-gap: 10px;
        }

        @include desktop {
          grid-template-columns: 100%;
        }

        img {
          padding-bottom: 20px;
          width: 100%;
        }
      }
    }
  }



}





/*******************************************
FOOTER
********************************************/

footer {
  background: $purple;
  padding: 20px 0;
  color: $white;
  text-align: center;

  @include tablet {
    padding: 50px 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
    text-align: center;

    @include tablet {
      grid-template-columns: 25% 40% 30%;
      grid-template-rows: auto;
      grid-column-gap: 15px;
    }

    .address-col {
      h5 {
        font-size: 20px;
        font-weight: 500;

        @include desktop {
          font-size: 30px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.5;

        @include desktop {
          font-size: 20px;
        }
      }
    }

    .social-col {
      .icon {
        font-size: 20px;
        padding: 0 20px;
        color: #fff;

        @include desktop {
          font-size: 30px;
          transition: all .2s ease-in-out;

          &:hover {
            color: $blue;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    .menu-col {
      ul>li {
        padding: 5px;
        display: inline-block;

        @include desktop {
          font-size: 20px;
        }

        a {
          color: $white;
          transition: all .2s ease-in-out;

          &:hover {
            color: $blue;
            font-weight: 600;
            padding: 8px 0;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}