// Screen Sizes
/* Medium devices (landscape tablets, 768px and up) */
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}


// MainPage Titles Mixins
@mixin h3title {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 15px;
  color: $light-text;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}

@mixin h2title {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    padding-bottom: 35px;
    font-size: 32px;
  }
}

