// Screen Sizes
/* Medium devices (landscape tablets, 768px and up) */
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

