@import "reset";
@import "global";
@import "variables";
@import "mobile_menu";
@import "homepage";


$cellWidth: 521px;
$tabletWidth: 1100px;

* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    header{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%,rgba(0, 200, 255, 0.4) 100%),
        url("https://yt3.ggpht.com/a/AGF-l78dHP323cBUUZOowF-opd3YU9AaqVu49MyjIw=s900-mo-c-c0xffffffff-rj-k-no") center center no-repeat;
    }
    /* Header/Blog Title */
    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
        margin: 30px 0 0 0;
        text-decoration: underline overline;
        @media(max-width: $cellWidth){
            font-size: 30px;
        }
    }
    .row{
        /* Add a card effect for articles */
        margin-bottom: 30px;
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            text-align: center;
            h2{
                font-size: 30px;
                padding: 5px 0;
                text-decoration: underline;
                color: black;
                @media(max-width: $cellWidth){
                    font-size: 25px;
                }
            }
            p{
                font-size: 20px;
                line-height: 1.3;
                text-align: left;
            }
            h3{
                font-size: 30px;
                padding: 5px 0;
                text-decoration: underline;
                color: black;
            }
            /* Fake image */
            .fakeimg {
                max-width: 100%;
                padding: 15px 20%;
                display: block;
                img{
                    width: 100%;
                }
            }
        }
        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {   
            float: left;
            width: 75%;
        }
        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            padding-left: 20px;
        }
        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
            .leftcolumn, .rightcolumn {   
            width: 100%;
            padding: 0;
            }
        }
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
  }
  