@import "reset";
@import "styles";
@import "global";
@import "variables";
@import "mixins"; // Header Styles
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700&display=swap');

$cellWidth: 521px;
$tabletWidth: 1100px;

html {
    scroll-behavior: smooth;
}

header{
    background: #ccc;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%,rgba(0, 200, 255, 0.4) 100%),
    url(/img/medicalServices.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    .info-box{
        p{
            font-size: 23px;
            font-weight: 500;
        }
        .we-help-btn{
            font-weight: 500;
        }
    }
}

#chooseService{
    margin-top: 100px;
    display: inline-block;
    #serviceWelcome{
        width: 80%;
        float: left;
        padding: 15px;
        text-align: center;
        @media(max-width: $cellWidth){
            width: 100%;
            padding: 0;
            margin-top: -60px;
        }
        @media (min-width: $cellWidth) and (max-width: $tabletWidth){
            width: 100%;
            padding: 0;
            margin-top: -60px;
        }
        h1{
            line-height: 1.5;
            font-size: 55px;
            font-family: 'Cardo', serif;
            font-weight: 700;
            color: #00A4D6;
            border-bottom: 1px solid #00A4D6;
            margin: 35px;
            @media(max-width: $cellWidth){
                line-height: 1.2;
                font-size: 35px;
            }
        }
        p{
            line-height: 1.5;
            font-size: 18px;
            font-weight: 400;
            width: 90%;
            display: inline-block;
            @media(max-width: $cellWidth){
                line-height: 1.2;
                font-size: 17px;
            }
        }
    }
    #serviceCards{
        width: 80%;
        float: left;
        padding: 15px;
        text-align: center;
        @media(max-width: $cellWidth){
            width: 100%;
            margin-top: 40px;
        }
        @media (min-width: $cellWidth) and (max-width: $tabletWidth){
            width: 100%;
            margin: 40px 0;
        }
        #cards{
            width: 69%;
            margin: 0 auto;
            font-size: 20px;
            text-align: start;
            @media(max-width: $cellWidth){
                width: 100%;
            }
            .letterCard{
                -webkit-box-shadow: 8px 8px 25px -8px rgba(0,0,0,0.75);
                -moz-box-shadow: 8px 8px 25px -8px rgba(0,0,0,0.75);
                box-shadow: 8px 8px 25px -8px rgba(0,0,0,0.75);
                display: none;
                font-size: 45px;
                font-weight: bold;
                border: 1px solid gray;
                border-radius: 5px;
                background: rgba(102, 112, 163, .85);
                width: 100%;
                color: white;
                h1{
                    margin-left: 20px;
                }
                ul{
                    background: rgb(235, 233, 231);
                    font-size: 30px;
                    font-weight: 500;
                    width: 100%;
                    padding: 20px;
                    line-height: 2;
                    color: black;
                    @media(max-width: $cellWidth){
                        font-size: 18px;
                    }
                    li{
                        border-bottom: 1px solid black;
                    }
                    li:last-child{
                        border: none;
                    }
                }
                &.default{
                    display: inline-block;
                }
                li:hover{
                    transform: scale(1.03);
                }
            }
            .letterCard:target{
                display: inline-block;
            }
        }
    }
    #charSelect{
        width: 80%;
        float: left;
        padding: 15px;
        text-align: center;
        @media(max-width: $cellWidth){
            width: 100%;
        }
        @media (min-width: $cellWidth) and (max-width: $tabletWidth){
            width: 90%;
            margin: 0 5%;
        }
        #letters{
            li{
                display: inline-block;
                list-style: none;
                width: 50px;
                height: 50px;
                // border: 1px solid black;
                background: rgb(206,219,233); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(145,150,165,1) 36%, rgba(97,153,199,1) 49%, rgba(106,121,166,1) 65%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(145,150,165,1) 36%,rgba(97,153,199,1) 49%,rgba(106,121,166,1) 65%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(145,150,165,1) 36%,rgba(97,153,199,1) 49%,rgba(106,121,166,1) 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                a{
                    color: white;
                    font-weight: bold;
                    font-size: 25px;
                    position: relative;
                    top: 25%;
                }
            }
            li:hover{
                transform: scale(1.5);
            }
        }
    }
    #helpColumn{
        width: 20%;
        display: inline-block;
        position: relative;
        // top: -175px;
        @media(max-width: $cellWidth){
            width: 100%;
            margin-bottom: 30px;
        }
        @media (min-width: $cellWidth) and (max-width: $tabletWidth){
            width: 50%;
            margin-bottom: 30px;
            margin: 40px 24% 40px;
        }
        h1{
            font-size: 30px;
            padding: 15px 0;
            line-height: 1.25;
            color: $purple;
            font-weight: 500;
        }
        ul{
            background: rgb(223, 223, 223);
            li{
                font-size: 20px;
                line-height: 1.25;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 15px;
            }
            li:last-child{
                border: none;
            }
            li:hover{
                transform: scale(1.05);
            }
        }
    }
}
#chooseService{
    content: "";
    display: table;
    clear: both;
}
#awards{
    min-height: 150px;
    text-align: center;
    margin: 75px;
    @media(max-width: $cellWidth){
        min-height: 75px;
        margin: 20px 5%;
    }
    @media (min-width: $cellWidth) and (max-width: $tabletWidth){
        max-height: 75px;
        margin: 50px 5%;
    }
    img{
        max-height: 255px;
        @media(max-width: $cellWidth){
            max-height: 75px;
        }
        @media (min-width: $cellWidth) and (max-width: $tabletWidth){
            max-height: 155px;
        }
    }
}
